.main {
  min-height: calc(100vh - 89px);
}

.main h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: black;
}

.lotteryinfo a {
  font-size: 0.9em;
}

.lotteryinfo ul {
  list-style-type: none;
  list-style: none;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
